<div class="signup">
    <h1>Signup</h1>
    <form (ngSubmit)="onSignup(form)" #form="ngForm">
        <input type="text" placeholder="First Name" [(ngModel)]="user.firstName" name="firstName" required>
        <input type="text" placeholder="Last Name" [(ngModel)]="user.lastName" name="lastName" required>
        <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email" required>
        <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
        <input type="password" placeholder="Confirm Password" [(ngModel)]="user.confirmPassword" name="confirmPassword"
            required>
        <button type="submit">Sign Up</button>
    </form>
</div>